<div class="parent">
  <div class="container card position-absolute form pb-0">
    <div class="card-body">
      <p class="card-text text-center fw-bold text-primary welcome-message">
        {{ "Welcome" | titlecase }}
      </p>
      <p class="card-text text-white l-height">
        {{ "username : " + showDate.name | titlecase }}
      </p>
      <p class="card-text text-white mt-4 l-height">
        {{ "email : " + showDate.email | titlecase }}
      </p>
      <p class="card-text text-white mt-4 l-height">
        {{ "country : " + showDate.coutry | titlecase }}
      </p>
      <a class="btn btn-danger w-100 text-white mt-4" (click)="logout()"
        >{{ "logout" | titlecase }}
      </a>
    </div>
  </div>
</div>
