<div class="parent">
  <div class="form position-absolute form-parent">
    <button type="button" class="btn btn-danger mb-5" [routerLink]="['/login']">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-arrow-left-square-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1"
        ></path>
      </svg>
      {{ "back" | titlecase }}
    </button>
    <form class="row g-3" [formGroup]="myForm">
      <!-- Region Of Person -->
      <div class="region">
        <lib-country-list
          id="region"
          [countryListConfig]="config"
          [selectedCountryConfig]="config"
          selectedCountryCode="eg"
          (onCountryChange)="onCountryChange($event)"
        ></lib-country-list>
      </div>

      <!-- --------------- Start Name -------------- -->

      <div class="name-field">
        <div class="row g-3 d-block d-md-flex">
          <!-- Frist Name -->
          <div class="col frist-name">
            <label for="fn" class="text-white mb-1">{{
              "frist name" | titlecase
            }}</label>
            <input
              formControlName="firstName"
              type="text"
              class="form-control"
              placeholder="First name"
              aria-label="First name"
              id="fn"
              #fn
              (keyup)="isValid(fn, myForm.controls['firstName'])"
            />
            <app-errors-validation errorName="firstName" class="m-0" />
          </div>
          <!-- Warning -->

          <!-- Last Name -->
          <div class="col last-name">
            <label for="ln" class="text-white mb-1">
              {{ "last name" | titlecase }}</label
            >
            <input
              formControlName="lastName"
              type="text"
              class="form-control"
              placeholder="Last name"
              aria-label="Last name"
              id="ln"
              #ln
              (keyup)="isValid(ln, myForm.controls['lastName'])"
            />
            <app-errors-validation errorName="lastName" class="m-0" />
          </div>
        </div>
      </div>

      <!-- --------------- End Name -------------- -->

      <!-- --------------- Start Email -------------- -->

      <div class="email-field">
        <div class="col-12">
          <label for="email" class="form-label text-white">Email</label>
          <input
            formControlName="email"
            type="email"
            class="form-control"
            id="email"
            placeholder="Email"
            autocomplete="email"
            #email
            (keyup)="isValid(email, myForm.controls['email'])"
          />
        </div>
        <app-errors-validation errorName="email" class="m-0" />
      </div>

      <!-- --------------- End Email -------------- -->

      <!-- --------------- Start Password -------------- -->

      <!-- Password -->

      <div class="password-field">
        <div class="col-12">
          <label for="password" class="form-label text-white">{{
            "Password" | titlecase
          }}</label>
          <input
            formControlName="password"
            type="password"
            class="form-control"
            id="password"
            autocomplete="current-password"
            placeholder="Password"
            #password
            (keyup)="isValid(password, myForm.controls['password'])"
          />
        </div>
        <app-errors-validation errorName="password" />
      </div>

      <!-- Confirm Password -->
      <div class="confirm-password-field">
        <div class="col-12">
          <label for="confirm-password" class="form-label text-white">{{
            "confirm Password" | titlecase
          }}</label>
          <input
            formControlName="confirmPassword"
            type="password"
            class="form-control"
            id="confirm-password"
            placeholder="Password"
            autocomplete="current-password"
            #confirmPassword
            [ngClass]="{
              'is-invalid':
                myForm.controls['confirmPassword'].value !=
                  (myForm.controls['password'].value ||
                    myForm.controls['confirmPassword'].hasError(
                      'mismatchPassword'
                    )) && myForm.controls['confirmPassword'].touched,
              'is-valid':
                myForm.controls['confirmPassword'].value != '' &&
                myForm.controls['confirmPassword'].valid &&
                myForm.controls['confirmPassword'].value ==
                  myForm.controls['password'].value
            }"
          />
        </div>
        <app-errors-validation errorName="confirmPassword" />
      </div>
      <!-- --------------- End Password -------------- -->
      <div
        class="alert alert-danger p-3 py-2 d-flex align-items-center gap-2 d-none"
        id="incorrect"
        role="alert mb-3"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-info-circle-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"
          ></path>
        </svg>

        <p class="m-0 l-height">{{ "Incorrect Data" | titlecase }}</p>
      </div>
      <!-- Sign Up Button -->
      <div class="button">
        <button
          type="button"
          class="btn btn-success w-100"
          (click)="goToHome(email.value, fn.value + ' ' + ln.value)"
        >
          {{ "sign up" | titlecase }}
        </button>
      </div>
    </form>
  </div>
</div>
